.property-list{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap:5px;
}

.property-wrapper{
    position: relative;
}
.property-container{
    width: 100%;
    max-width: 1024px;
    overflow: hidden;
}

.image-card{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 300ms ease-in;
    overflow: hidden;
}


.property-name{
    font-size: 18px;
    font-weight: 400px;
    margin-top: 10px;
}

.slider-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #000;
    z-index: 999;
    position: absolute;
    top:85px;
    right: 10px;
}

.slider-buttons button{
    height: 40px;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px 10px;
    border: none;
    outline: none;
    color: black;
    background-color: lightgray;
}

button :disabled{
    cursor: not-allowed;
}

@media screen and (max-width:768px) {
    
}
@media screen and (max-width:600px) {
    .property-list{
        width: 90%;
        /* display: flex;
        flex-wrap: wrap;
        /* justify-content: space-between; */
        /* align-items: center; */
        /* gap:5px; */ 
    }

    .image-card{
        width: 200px;
        height: 200px;
        object-fit: cover;
        gap: 5px;
        border-radius: 10px;
        transition: all 300ms ease-in;
        overflow: hidden;
    }  
    
}