.property-list{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap:10px;
}

.property-wrapper{
    position: relative;
}
.property-container{
    width: 100%;
    max-width: 1024px;
    overflow: hidden;
}

.image-card{
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    transition: all 300ms ease-in;
    overflow: hidden;
}


.property-name{
    font-size: 20px;
    font-weight: 400px;
    margin-top: 20px;
}

.slider-buttons{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    color: #000;
    z-index: 999;
    position: absolute;
    top:85px;
    /* right: 10px; */
}

.slider-buttons button{
    height: 40px;
    width: 40px;
    font-size: 20px;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px 10px;
    border: none;
    outline: none;
    color: black;
    background-color: lightgray;
}

button :disabled{
    cursor: not-allowed;
}