.list-container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.list-wrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}

.list-search{
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
}

.list-result{
    flex: 3;
}

.list-search-title{
    color: gray;
    font-size: 20px;
    margin-bottom: 20px;
}

.list-search-item{
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-bottom: 10px;
}

.list-search-item>label{
    font-size: 15px;
}

.list-search-item>input{
    height: 30px;
    border: none;
    outline: none;
    padding: 10px;
}

.list-search-item>span{
    height: 30px;
    padding: 5px;
    font-size: 15px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}