.home-container{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.home-title{
    width: 1024px;
    font-size: 20px;
    margin: auto;
}

.planner-title{
    width: 1024px;
    font-size: 20px;
}

.planner-detail{
    color: black;
    opacity: 0.5;
    /* font-weight: 10px; */
}

@media screen and (max-width: 768px) {
    .home-title{
        font-size: 18px;
        width: 90%;
    }

    .planner-title{
        font-size: 18px;
        width: 90%;
    }
    .planner-detail{
        font-size: 12px;
    }
}
@media screen and (max-width: 600px) {
    .home-title{
        font-size: 18px;
        width: 90%;
    }

    .planner-title{
        width: 90%;
    }
    .planner-detail{
        font-size: 15px;
    }
}