.hg {
  width: 100%;
  max-width: 1024px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.hg-container {
  flex: 1;
  gap: 2px;
  display: flex;
  flex-direction: column;
}

.hg-image {
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}

.hgname {
  font-weight: bolder;
  margin-top: 10px;
}

.hgcity {
  font-weight: 300;
  font-size: 15px;
}
.hgprice {
  font-weight: 600;
  font-size: 15px;
}
.hg-rating > button {
  background-color: #003580;
  color: white;
  border: none;
  outline: none;
  padding: 4px;
  font-weight: bold;
  margin-right: 10px;
  cursor: pointer;
}

.hg-rating > span {
  font-size: 14px;
}

@media screen and (max-width: 768px) {
  .hg {
    width: 90%;
    gap: 10px;
  }

  .hg-container {
    gap: 1px;
  }

  .hg-image {
    width: 90%;
  }
  
  .hgname {
    font-weight: 600;
    font-size: 14px;
  }
  
  .hgcity {
    font-weight: 300;
    font-size: 12px;
  }
  .hgprice {
    font-weight: 600;
    font-size: 14px;
  }
  .hg-rating > button {
    padding: 3px;
    font-weight: 400;
    margin-right: 5px;
  }
  
  .hg-rating > span {
    font-size: 14px;
  }
  
}
@media screen and (max-width: 600px) {
  .hg {
    width: 90%;
    gap: 10px;
  }

  .hg-container {
    gap: 1px;
  }

  .hg-image {
    width: 90%;
  }
  
  .hgname {
    font-weight: 600;
    font-size: 14px;
  }
  
  .hgcity {
    font-weight: 300;
    font-size: 12px;
  }
  .hgprice {
    font-weight: 600;
    font-size: 14px;
  }
  .hg-rating > button {
    padding: 3px;
    font-weight: 400;
    margin-right: 5px;
  }
  
  .hg-rating > span {
    font-size: 14px;
  }
  
}