.footer{
    width: 100%;
    max-width: 1024px;
    font-size: 14px;
}

.footer-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}


.f-list-item{
    color: #003580;
    cursor: pointer;
    padding: 3px;
    /* transition: all 3s ease-in; */
}

.f-list-item:hover{
    color: #0071c2;
    
}

@media screen and (max-width:600px){
    .footer{
        width: 90%;
        padding: 5px;
        font-size: 10px;
    }
}
@media screen and (max-width:768px){
    .footer{
        width: 90%;
        padding: 5px;
        font-size: 10px;
    }
}